<div class="contact_form_container">

<div class="contact_form_picture">
</div>

<div class="contact_form">

<div class="inshort_title">
  <h2>Formulaire de contact</h2>
</div>

<div class="contact_intro">
  <p>Vous souhaitez nous contacter pour devenir un contributeur du site, nous faire part de vos remarques, bénéficier d'espace publicitaire, nous vous invitons à remplir le formulaire ci-dessous :</p>
</div>

<%= form_for @message, url: contact_path do |message_form| %>
  <fieldset>
    <div class="field">
      <%= message_form.text_field :name, placeholder: "Nom" %>
    </div>
    
    <div class="field">
      <%= message_form.email_field :email, placeholder: "Email"%>
    </div>

    <div class="field">
      <%= message_form.text_field :subject, placeholder: "Sujet" %>
    </div>
    
    <div class="field">
      <%= message_form.text_area :content, placeholder: "Message"%>
    </div>
  </fieldset>

  <%= message_form.submit "Envoyer" %>

<% end %>

</div>

</div>