<section class="menu_tag">
	<div class="tag_intro">
		<p>En ce moment...</p>
	</div>
	<marquee behavior="scroll" loop="10" Scrollamount="5" Scrolldelay="0.01" OnmouseOut="this.start();" OnMouseOver="this.stop();">allô</marquee>
</section>


<section id="zone_carrousel">
	<div id="container_carrousel" class="shadow">
		<ul class="carrousel">
			<% @slides.each do |post| %>
				<li>
					<%= link_to cl_image_tag(post.picture_url(:standard), :width => 630, :height => 420, :crop => :fill), post_path(post) %>
				</li>
			<% end %>
		</ul>
	</div>

	<% @whitepost.each do |post| %>
		<div class="spotlight_article">
			<div class="focus_effect"></div>

			<div class="spotlight_article_title">
				<h1>
					<%= link_to truncate(post.title, length: 350, separator: ' '), post_path(post) %>
				</h1>
			</div>

			<div class="spotlight_article_picture">
				<%= link_to cl_image_tag(post.picture_url(:thumbnail), :width => 330, :height => 220, :crop => :fill), post_path(post) %>
			</div>

			<div class="spotlight_article_description">
				<div class="spotlight_article_summary">
					<%= link_to sanitize(post.content.truncate(200, separator: ' ')), post_path(post) %>
				</div>
				<div class="read_more">
					<%= link_to 'lire la suite...', post_path(post) %>
				</div>
			</div>			
		</div>
	<% end %>
</section>

<div id="spotlight">
	<% @greenpost.each do |post| %>
		<div class="spotlight_article_green">
			<div class="focus_effect_green"></div>

			<div class="spotlight_article_green_title">
				<h1>
					<%= link_to post.title, post_path(post) %>
				</h1>
			</div>

			<div class="spotlight_article_green_picture">
				<%= link_to cl_image_tag(post.picture_url(:thumbnail), :width => 330, :height => 220, :crop => :fill), post_path(post) %>
			</div>

			<div class="spotlight_article_green_description">
				<div class="spotlight_article_green_summary">
					<%= link_to sanitize(post.content.truncate(200, separator: ' ')), post_path(post) %>
				</div>
				<div class="read_more_green">
					<%= link_to 'lire la suite...', post_path(post) %>
				</div>
			</div>			
		</div>
	<% end %>

	<% @yellowpost.each do |post| %>
		<div class="spotlight_article_yellow">
			<div class="focus_effect_yellow"></div>

			<div class="spotlight_article_yellow_title">
				<h1>
					<%= link_to post.title, post_path(post) %>
				</h1>
			</div>

			<div class="spotlight_article_yellow_picture">
				<%= link_to cl_image_tag(post.picture_url(:thumbnail), :width => 330, :height => 220, :crop => :fill), post_path(post) %>
			</div>

			<div class="spotlight_article_yellow_description">
				<div class="spotlight_article_yellow_summary">
					<%= link_to sanitize(post.content.truncate(200, separator: ' ')), post_path(post) %>
				</div>
				<div class="read_more_yellow">
					<%= link_to 'lire la suite...', post_path(post) %>
				</div>
			</div>			
		</div>
	<% end %>

	<% @redpost.each do |post| %>
		<div class="spotlight_article_red">
			<div class="focus_effect_red"></div>
			
			<div class="spotlight_article_red_title">
				<h1>
					<%= link_to post.title, post_path(post) %>
				</h1>
			</div>

			<div class="spotlight_article_red_picture">
				<%= link_to cl_image_tag(post.picture_url(:thumbnail), :width => 330, :height => 220, :crop => :fill), post_path(post) %>
			</div>

			<div class="spotlight_article_red_description">
				<div class="spotlight_article_red_summary">
					<%= link_to sanitize(post.content.truncate(200, separator: ' ')), post_path(post) %>
				</div>
				<div class="read_more_red">
					<%= link_to 'lire la suite...', post_path(post) %>
				</div>
			</div>			
		</div>
	<% end %>
</section>

<section class="bloc_article">

<ul>
<% @posts.each do |post| %>
	<li>
		<div class="article">
			<div class"focus_effect">
				<div class="article_title">
					<h1>
						<%= link_to post.title, post_path(post) %>
					</h1>
				</div>
			</div>

			<div class="article_picture">
				<%= link_to cl_image_tag(post.picture_url(:thumbnail), :width => 300, :height => 200, :crop => :fill), post_path(post) %>
			</div>

			<div class="article_description">
				<div class="article_summary">
					<%= link_to sanitize(post.content.truncate(350, separator: ' ')), post_path(post) %>
				</div>
				<div class="read_more">
					<%= link_to 'lire la suite...', post_path(post) %>
				</div>
			</div>
		</div>
	</li>
<% end %>
</ul>

<div class="create_post_button">
<%= link_to "create post", new_post_path %>
</div>

</section>
