<section class="bloc_article">

<ul>
<% @posts.each do |post| %>
	<li>
		<div class="article">
			<div class="article_title">
				<%= link_to post.title, edit_post_path(post) %>
				<br><br>
			</div>

			<div class="article_picture">
				<%= link_to image_tag(post.picture_url(:thumbnail), :width => 300, :height => 215), edit_post_path(post) %>
			</div>

			<div class="article_description">
				<div class="article_summary">
					<%= post.content.split[0..60].join(" ") %>...
				</div>
				<div class="read_more">
					<%= link_to 'lire la suite...', edit_post_path(post) %>
				</div>
			</div>
		</div>
	</li>

<% end %>
</ul>

<div class="create_post_button">
<%= link_to "create post", new_post_path %>
</div>

</section>
