<% content_for :head do %>
  <meta prefix="og: http://ogp.me/ns#" property="og:url" content="<%= "http://maliinfo.herokuapp.com" + post_path(@post) %>"/>
  <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website"/>
  <meta prefix="og: http://ogp.me/ns#" property="og:title" content="<%=@post.title%> | Mali Info" />
  <meta prefix="og: http://ogp.me/ns#" property="og:image" content="<%=@post.picture_url(:standard)%>"/>
  <meta prefix="og: http://ogp.me/ns#" property="og:description" content="<%= strip_tags(@post.content) %>" />
  <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="Mali Info" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@MaliInfo" />
<% end %>

<section class="show_article">
<div class="article_page">
  <div class="article_page_title">
    <%= @post.title %>
  </div>

  <div class="article_page_date">
    <%= @post.published_at.strftime("%d/%m/%Y") %>
  </div>

  <div class="article_page_picture">
    <%= cl_image_tag(@post.picture_url(:standard), :width => 630, :height => 420) %>
  </div>

  <div class="article_content">
    <%= raw(@post.content) %>
  </div>
</div>

<div class="news_title">
  <h2>Partagez cet article sur...</h2>
</div>

<div class="icon-effect2">
  <a href='http://www.facebook.com/sharer.php?u=<%= "http://maliinfo.herokuapp.com" + post_path(@post) %>' target="_blank" class="icon2 icon2-fb">Facebook</a>
  <a href="http://twitter.com/home?status=<%= "http://maliinfo.herokuapp.com" + post_path(@post) %>" target="_blank" class="icon2 icon2-tw">Twitter</a>
  <a href='https://plus.google.com/share?url=<%= "http://maliinfo.herokuapp.com" + post_path(@post) %>' target="_blank" class="icon2 icon2-gp">Google+</a>
  <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= "http://maliinfo.herokuapp.com" + post_path(@post) %>&title=&summary=" target="_blank" class="icon2 icon2-lk">LinkedIn</a>
</div>

<% if user_signed_in? %>
  <div class="create_post_button button_fixed">
  <%= link_to "Retour", :back %>
  </div>

  <div class="create_post_button button_fixed button_fixed2">
  <%= link_to "Éditer", edit_post_path %>
  </div>

  <div class="create_post_button button_fixed button_fixed3">
  <%= link_to "Nouveau", new_post_path %>
  </div>
<% end %>

<div class="news_title">
  <h2>Commentaires</h2>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'maliinfo';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</section>

<aside>
  <div class="news">
      <div class="news_title">
        <h2>Actualité</h2>
      </div>
      <div class="news_content">
        <ul>
          <% @news.each do |post| %>
            <li>
              <div class="news_article">
                <div class="news_article_picture">
                  <%= link_to cl_image_tag(post.picture_url(:thumbnail), :width => 60, :height => 40, :crop => :fill), post_path(post) %>
                </div>
                <div class="news_article_title">
                  <%= link_to truncate(post.title, length: 90, separator: ' '), post_path(post) %>
                  <div class="news_article_date">
                    <%= link_to post.published_at.strftime("%d/%m/%Y"), post_path(post) %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
</aside>
