<% content_for :head do %>
  <meta property="og:url" content="<%= "http://maliinfo.herokuapp.com" + post_path(@post) %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="<%=@post.title%> | Mali Info" />
  <meta property="og:image" content="<%=@post.picture_url(:standard)%>"/>
  <meta property="og:description" content="<%= strip_tags(@post.content) %>" />
  <meta property="og:site_name" content="Mali Info" />
  <meta property="og:type" content="website"/>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@MaliInfo" />
<% end %>

<section class="show_article">
<div class="article_page">
  <div class="article_page_title">
    <%= @post.title %>
    <br><br>
  </div>

  <div class="article_page_picture">
    <%= cl_image_tag(@post.picture_url(:standard), :width => 630, :height => 420) %>
  </div>

  <div class="article_content">
    <%= raw(@post.content) %>
  </div>
</div>

<div class="news_title">
  <h2>Partagez cet article sur...</h2>
</div>

<div class="icon-effect">
  <a href='http://www.facebook.com/sharer.php?u=<%= "http://maliinfo.herokuapp.com" + post_path(@post) %>' target="_blank" class="icon icon-fb">Facebook</a>
  <a href="http://twitter.com/home?status=<%= "http://maliinfo.herokuapp.com" + post_path(@post) %>" target="_blank" class="icon icon-tw">Twitter</a>
  <a href='https://plus.google.com/share?url=<%= "http://maliinfo.herokuapp.com" + post_path(@post) %>' target="_blank" class="icon icon-gp">Google+</a>
  <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=<%= "http://maliinfo.herokuapp.com" + post_path(@post) %>" target="_blank" class="icon icon-lk fa fa-linkedin">LinkedIn</a>
</div>

<div class="create_post_button">
<%= link_to "Retour", :back %>
</div>

<% if user_signed_in? %>
  <div class="create_post_button">
  <%= link_to "Éditer", edit_post_path %>
  </div>

  <div class="create_post_button">
  <%= link_to "Nouveau", new_post_path %>
  </div>
<% end %>
</section>

<aside>
  <div class="news">
      <div class="news_title">
        <h2>Actualité</h2>
      </div>
      <div class="news_content">
        <ul>
          <% @news.each do |post| %>
            <li>
              <div class="news_article">
                <div class="news_article_picture">
                  <%= link_to cl_image_tag(post.picture_url(:thumbnail), :width => 60, :height => 40, :crop => :fill), post_path(post) %>
                </div>
                <div class="news_article_title">
                  <%= link_to post.title, post_path(post) %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
</aside>
