<section class="container">

<div class="bloc_article">

<div class="digg_pagination">
  <%= will_paginate @posts, :container => false, :previous_label => "Précédent", :next_label => "Suivant" %>
</div>

<ul>
<% @posts.each do |post| %>
  <li>
    <div class="article">
      <div class="article_title">
        <h1>
          <%= link_to post.title, post_path(post) %>
        </h1>
      </div>

      <div class="article_picture">
        <%= link_to cl_image_tag(post.picture_url(:thumbnail), :width => 300, :height => 200, :crop => :fill), post_path(post) %>
      </div>

      <div class="article_description">
        <div class="article_summary">
          <%= link_to sanitize(post.content.truncate(350, separator: ' ')), post_path(post) %>
        </div>
        <div class="next">
          <%= link_to 'lire la suite...', post_path(post) %>
        </div>
      </div>
    </div>
  </li>
<% end %>
</ul>

<div class="digg_pagination">
  <%= will_paginate @posts, :container => false, :previous_label => "Précédent", :next_label => "Suivant" %>
</div>

<div class="create_post_button">
<%= link_to "Nouveau", new_post_path %>
</div>

</div>

<aside>
  <div class="news">
      <div class="news_title">
        <h2>Actualité</h2>
      </div>
      <div class="news_content">
        <ul>
          <% @news.each do |post| %>
            <li>
              <div class="news_article">
                <div class="news_article_picture">
                  <%= link_to cl_image_tag(post.picture_url(:thumbnail), :width => 60, :height => 40, :crop => :fill), post_path(post) %>
                </div>
                <div class="news_article_title">
                  <%= link_to post.title, post_path(post) %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
</aside>

</section>


