<!DOCTYPE html>
<html>

<head>
	<title>Mali Info</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<%= favicon_link_tag 'favicon.ico' %>
	<%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<nav class="menu">
		<li><a href="#">Accueil</a></li><li><a href="#">Politique</a></li><li><a href="#">Économie</a></li><li><a href="#">Société</a></li><li><a href="#">Musique</a></li><li><a href="#">Sport</a></li><li><a href="#">Monde</a></li><li><a href="#">Vidéo</a></li><li class="contact"><a href="#">Contact</a></li>
	</nav>

	<section class="home_container">
	</section>

	<section class="container menu_tag">
		<div class="tag_intro">
			<p>En ce moment...</p>
		</div>
	</section>

	<section class="container spotlight">
		<div>
			<%= yield %>
		</div>
	</section>

	<section class="container bubblingG">
		<span id="bubblingG_1">
		</span>
		<span id="bubblingG_2">
		</span>
		<span id="bubblingG_3">
		</span>
	</section>

</body>

</html>
