<!DOCTYPE html>
<html>

<head>
	<title>Mali Info</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<%= favicon_link_tag 'favicon.ico' %>
	<%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<nav class="menu">
		<li><a href="#">Accueil</a></li><li><a href="#">Politique</a></li><li><a href="#">Économie</a></li><li><a href="#">Société</a></li><li><a href="#">Musique</a></li><li><a href="#">Sport</a></li><li><a href="#">Monde</a></li><li><a href="#">Vidéo</a></li><li class="contact"><a href="#">Contact</a></li>
	</nav>

	<section>
		<div class="home_container">
		<div class="social_icons">
			<%= link_to posts_path(format: 'rss'), :target => "_blank" do %>
				<%= image_tag("/icon_rss.svg", size: "50", class: "social_icons") %>
			<% end %>
			<%= link_to 'https://www.facebook.com/maliinfo', :target => "_blank" do %>
				<%= image_tag("/icon_fb.svg", size: "50", class: "social_icons") %>
			<% end %>
			<div class="clear"></div>
			<%= link_to 'https://twitter.com/maliinfo', :target => "_blank" do %>
				<%= image_tag("/icon_tw.svg", size: "50", class: "social_icons") %>
			<% end %>
			<%= link_to 'https://www.youtube.com/user/InfoMali', :target => "_blank" do %>
				<%= image_tag("/icon_yt.svg", size: "50", class: "social_icons") %>
			<% end %>
		</div>
		</div>
	</section>

	<section class="container menu_tag">
		<div class="tag_intro">
			<p>En ce moment...</p>
		</div>
	</section>

	<section class="">
		<div id="carrousel" class="shadow">
			<img class='opaque' src="/Abdoulaye Diop.png" />
			<img src="/Moussa Mara.jpg" />
			<img src="/IBK.jpg" />
			<img src="/Blaise Comparoé.jpg" />
		</div>
		<p id="carrousel_controls">
			<span class="selected">◦</span>
			<span>◦</span>
			<span>◦</span>
			<span>◦</span>
		</p>
	</section>

	<section class="container">
		<div>
			<%= yield %>
		</div>
	</section>

	<section class="container bubblingG">
		<span id="bubblingG_1">
		</span>
		<span id="bubblingG_2">
		</span>
		<span id="bubblingG_3">
		</span>
	</section>

</body>

</html>
